<div class="nav-tile-container">
  <div [@selectColor]="component == 'vis' ? 'selected' : 'deselected'" class="nav-tile" (click)="setComponent('vis')">
    <h1>
      Visualize Data
    </h1>
    <br>
    <p>
      I am a description of what visualizing data means
    </p>
  </div>
  <div [@selectColor]="component == 'export' ? 'selected' : 'deselected'" class="nav-tile" (click)="setComponent('export')">
    <h1>
      Export Data
    </h1>
    <br>
    <p>
      I am a description of what exporting data means
    </p>
  </div>
</div>