@import '~@angular/material/theming';

$primary: (
 Main:#b5d5ff,
 Light:#b5d5ff,
 Dark: #b5d5ff,
 contrast: (
  Main: #fff,
  Light: #fff,
  Dark: #fff
 ));
$accent: $mat-light-blue;
$warn: $mat-orange;

$dark-theme-primary: mat-palette($primary, Main, Light, Dark);
$dark-theme-accent: mat-palette($accent, A700, A700, A700);
$dark-theme-warn: mat-palette($warn, A200, A400, A700);
$dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);