<div *ngIf="focusManager">
  <div *ngIf="focusManager.type == 'timeseries' else groupSelector">
    <!-- NEED TO UPDATE THIS TO BE MORE ROBUST FOR DIFFERENT PERIODS -->
    <!-- should pass in manager and use the rounding functions and all that -->
    <app-date-focus
      [timeseriesData]="castTimeseriesManager()"
      [initValue]="date"
      (dateChange)="setFocus($event)">
    </app-date-focus>
  </div>
  <ng-template #groupSelector>
    <app-date-group-selector
      [timeSelectorData]="castSelectorManager()"
      [initValue]="selection"
      (selectionChange)="setFocus($event)">
    </app-date-group-selector>
  </ng-template>
</div>
