<div id="opacity-control">
  <div class="container">
    <span class="opacity-label">
      Rainfall Map Opacity
    </span>
    <mat-slider thumbLabel step=".01" min="0" max="1" [value]="getOpacity()" (input)="setOpacity($event)" [disabled]="!layerReady()"></mat-slider>
  </div>
</div>

<div id="color-control">
  <div class="container">
    <mat-form-field>
      <mat-label>
        Color Scheme
      </mat-label>
      <mat-select disableOptionCentering
        [formControl]="schemeControl"
        [disabled]="!layerReady()">
        <mat-option value="mono">Monochromatic</mat-option>
        <mat-option value="usgs">USGS</mat-option>
        <mat-option value="viridus">Viridis</mat-option>
        <mat-option value="turbo">Turbo</mat-option>
        <mat-option value="tacc3">TACC 3-wave</mat-option>
        <mat-option value="tacc4">TACC 4-wave</mat-option>
        <mat-option value="tacc5">TACC 5-wave</mat-option>
        
      </mat-select>
    </mat-form-field>
  </div>
  
</div>