<div id="opacity-control">
  <div class="container">
    <span class="opacity-label">
      Rainfall Map Opacity
    </span>
    <mat-slider thumbLabel step=".01" min="0" max="1" [value]="getOpacity()" (input)="setOpacity($event)" [disabled]="!layerReady()"></mat-slider>
  </div>
</div>

<div id="color-control">
  <div class="container">
    <mat-form-field>
      <mat-label>
        Color Scheme
      </mat-label>
      <mat-select disableOptionCentering
        [formControl]="schemeControl"
        [disabled]="!layerReady()">
        <mat-option value="mono">Monochromatic</mat-option>
        <mat-option value="rainbow">Rainbow</mat-option>
        <mat-option value="taccTest">TACC-test</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
</div>