
<div class="container">
  <h2>
    Select what data to export
  </h2>
  <h3>
    Click the "+" button to add a set of files
  </h3>
  <!-- <app-station-filter-interface></app-station-filter-interface> -->
  <div class="control-container">
    <div class="item-tile" *ngFor="let item of exportItems; let i = index">
      <div class="export-item">
        <div class="text-block">
          {{item.labels.dataset}}
        </div>
        <div class="text-block">
          <h4>
            Files
          </h4>
          <div>
            {{item.labels.files}}
          </div>
        </div>
      </div>
      <div class="tile-button-container">
        <button mat-mini-fab (click)="addExportData(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="removeExportItem(i)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>

    <div class="add-button">
      <button mat-mini-fab color="primary" (click)="addExportData(-1)">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="email-container" *ngIf="exportItems.length > 0">
      <div>
        <mat-checkbox
          [formControl]="emailData.useEmailControl"
          matTooltip="The download package is too large to be downloaded directly. A download link will be sent to the provided email address when ready."
          [matTooltipDisabled]="!emailData.maxSizeExceeded"
          [disabled]="emailData.maxSizeExceeded">
          Send download package to email
        </mat-checkbox>
        <mat-icon
          class="help-icon"
          inline="true"
          matTooltip="Package the requested items and email a download link to you. This is required if requesting a large amount of data.">
          help
        </mat-icon>
      </div>

      <div class="email-input">
        <mat-form-field class="example-full-width">
          <mat-label>Email Address</mat-label>
          <input required matInput [formControl]="emailData.emailInputControl">
          <mat-error *ngIf="!emailData.emailInputControl.valid">Please enter a valid email address.</mat-error>
        </mat-form-field>
        <mat-icon
          class="help-icon"
          inline="true"
          matTooltip="Please enter your email address. This will be used to send you your data if the above box is selected, otherwise it will only be used for logging purposes.">
          help
        </mat-icon>
      </div>

      <div class="disclaimer-container">
        <mat-checkbox
          [formControl]="acknowledgeControl">
        </mat-checkbox>
        <p>
          All data is covered under the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="blank">Attribution-NonCommercial-NoDerivatives 4.0 International</a> licensing agreement. By checking this box, I acknowledge and agree to adhere to the terms of this license in my use of any data provided by this application.
        </p>
      </div>

      <button mat-raised-button color="primary" [disabled]="exportItems.length < 1 || !emailData.emailInputControl.valid || !acknowledgeControl.value" (click)="export()">
        Export Items
      </button>
    </div>




    <div class="loading-bar">
      <div *ngIf="exportActivityMonitor.active">
        <p>
          Creating Export Package...
        </p>
        <mat-progress-bar [mode]="exportActivityMonitor.mode" [value]="exportActivityMonitor.value"></mat-progress-bar>
      </div>
    </div>

  </div>
</div>


