.main-container {
    position: relative;
    // background-color: paleturquoise;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // overflow: hidden;
    align-items: center;
}

.focus-container {
    position: relative;
    height: 100%;
    // transform: scale(.8);
    display: inline-block;
    // background-color: darkorange;
    // min-width: 500px;
    width: max-content;
    flex-grow: 1;
    transform: scale(.9);
    margin-left: -35px;
    margin-right: -35px;
}

.info-container {
    position: relative;
    top: 50%;
    // background-color: darkgreen;
    display: inline-block;
    flex-basis: 250px;
    flex-grow: 1;
    font-family: 'Roboto';
    padding: 7px;
}

.info-container p {
    display: inline-block;
    margin: 0;
    font-size:  16px;
    font-weight: 300;
}

.info-container h3 {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}
