
<div *ngIf="loading">
  <app-loading-component></app-loading-component>
</div>
<!-- don't want to destroy everything while loading so just hide it -->
<div #data [ngClass] = "{'hidden': loading}">
  <div *ngIf="stations?.length > 0">
    <div class="filter-container">
      <app-station-filter
        [stations]="stations"
        [metadata]="metadata"
        (filtered)="pushFiltered($event)">
      </app-station-filter>
      
    </div>
    <div class="filter-table">
      <app-site-availability-table
        [stations]="filteredStations"
        [selected]="selected"
        (selectedChange)="selectStation($event)">
      </app-site-availability-table>
    </div>
  </div>
 
  <div *ngIf="selected; else selectMessage" class="site-data-table">
    <app-site-data-table
      [selected]="selected">
    </app-site-data-table>
  </div>
  <ng-template #selectMessage>
    <h2>
      Select a station or click on the map to view information about that location.
    </h2>
  </ng-template>
</div>





