.filter-table {
  display: inline-block;
  width: 600px;
  padding: 10px;
}

.site-data-table {
  display: inline-block;
  width: 300px;
  padding: 10px;
}

.main-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.filter-container {
  display: block;
  clear: both;
  min-width: 600px;
}

h4 {
  margin-bottom: 0;
  padding-left: 20px;
}

.tables {
  display: block;
}