.filter-table {
  display: inline-block;
  width: 500px;
  padding: 10px;
}

.site-data-table {
  display: inline-block;
  width: 300px;
  padding: 10px;
}

.main-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}
