.seg-fill {
    position: absolute;
    background-color: slategray;
    height: 8px;
    z-index: 0;
}

.container {
    position: relative;
    display: inline-flex;
    // background-color: lawngreen;
    justify-content: center;
    align-items: center;
}

.slider-container {
    // background-color: lavender;
    height: 40px;
    width: 150px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    display: inline-block;
}


.track {
    position: absolute;
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background-color: lightgrey;
}

.circle-slider {
    position: absolute;
    left: -8px;
    top: -2px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgb(56, 117, 194);
}

.circle-slider:hover {
    cursor: -webkit-grab;
    background-color: rgb(43, 86, 140);
}

.circle-slider:active {
    cursor: -webkit-grabbing;
}

.left-slider {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 10px;
    height: 14px;
    border-radius: 100% 0 0 100%;
    border-right: 2px solid;
    border-color: rgba(0, 0, 0, .5);
    background-color: white;
    z-index: 1;
}

.left-slider:hover {
    cursor: -webkit-grab;
    background-color: rgb(173, 164, 192);
}

.left-slider:active {
    cursor: -webkit-grabbing;
    background-color: rgb(173, 164, 192);
}

.right-slider {
    position: absolute;
    left: 0px;
    top: -5px;
    width: 10px;
    height: 14px;
    border-radius: 0 100% 100% 0;
    border-left: 2px solid;
    background-color: white;
    border-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.right-slider:hover {
    cursor: -webkit-grab;
    background-color: rgb(173, 164, 192);
}

.right-slider:active {
    cursor: -webkit-grabbing;
    background-color: rgb(173, 164, 192);
}


/* Popup container */
.popup {
    visibility: hidden;
    position: relative;
    display: inline-block;
    left: -50%;
    top: calc(-100% - 20px);
}

/* The actual popup (appears on top) */
.popuptext {
    background-color: slategray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;

    left: calc(50% - 5px);
}

/* Popup arrow */
.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: slategray transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
}

.hide {
    -webkit-animation: fadeOut 1s forwards;
    animation: fadeOut 1s forwards;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible !important;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: visible !important;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden !important;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden !important;
    }
}
