.container {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: Roboto;
  }
  
  .control {
    clear: right;
  }
  
  // .control h4 {
  //   margin: 0;
  // }
  
  p {
    margin-top: 0;
  }
  
  // .form-body {
  //   padding-bottom: 20px;
  // }
  .control-subgroup {
    padding-left: 20px;
    width: 400px;
    background-color: #175db6;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  // .control-group {
  //   padding-top: 20px;
  // }
  
  .spacer {
    height: 20px;
    clear: both;
  }
  
//   h4 {
//     font-weight: 500;
//     margin-bottom: 5px;
//   }

  .checkbox {
      float: right;
  }


  .control-subgroup h4 {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 500;
  }

  .file-tile {
      padding-bottom: 10px;
      padding-right: 10px;
  }
  
  .control-subgroup /deep/ .mat-checkbox-frame {
    border-color: white
  }



.control-subgroup /deep/  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: white !important;
  color: black !important;
}

.control-subgroup /deep/  .mat-checkbox-checkmark-path {
    stroke: black !important;
}

.add-file-button {
    float: right
}