.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Roboto;

  }

.downscale {
  transform: scale(.9);
}

table {
  width: 100%;
}


.hide {
  visibility: hidden;
}

.label {
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
}

  .control-group-label {
    display: inline-block;
    height: 30px;
    font-weight: bold;
  }

  .extent-container {
    display: inline-block;
    height: 50px;
    transform: translateY(-6px);
  }

  .form-buttons {
    padding: 20px;
    //border-top: 1px solid;
  }

  //flex
  .control {
    clear: right;
  }

  .header {
    padding: 20px;
    //border-bottom: 1px solid;
  }

  .header h3 {
    margin: 0;
  }

  // .control h4 {
  //   margin: 0;
  // }

  p {
    margin-top: 0;
  }

  .form-body {
    overflow-y: auto;
    padding-left: 20px;
  }


  .control-subgroup {
    padding-left: 20px;
    width: 400px;
    background-color: #175db6;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

  // .control-group {
  //   padding-top: 20px;
  // }

  .spacer {
    height: 20px;
    clear: both;
  }

//   h4 {
//     font-weight: 500;
//     margin-bottom: 5px;
//   }




  .control-subgroup h4 {
      margin-top: 0;
      margin-bottom: 10px;
      font-weight: 500;
  }

  .file-tile {
      padding-bottom: 10px;
      padding-right: 10px;
  }

  .control-subgroup /deep/ .mat-checkbox-frame {
    border-color: white
  }



.control-subgroup /deep/  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: white !important;
  color: black !important;
}

.control-subgroup /deep/  .mat-checkbox-checkmark-path {
    stroke: black !important;
}

.cancel-button {
    float: right
}

//this would modify all dialogs, since in upper class have to use global class and pass in on form creation
// ::ng-deep .mat-dialog-container {
//   padding: 0;
// }
