<mat-form-field>
  <mat-label>{{timeSelectorData.formData.label}}</mat-label>
  <mat-select
    disableOptionCentering="true"
    [formControl]="control">
    <mat-option
      *ngFor="let value of timeSelectorData.formData.values"
      [value]="value"
      matTooltipPosition="right"
      [matTooltip]="value.description">
      {{value.label}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-icon
  aria-hidden="false"
  aria-label="Tooltip"
  matTooltipPosition="right"
  [matTooltip]="timeSelectorData.formData.description"
  inline="true">
  help
</mat-icon>

<mat-form-field>
  <mat-label>View Type</mat-label>
  <mat-select
    disableOptionCentering="true"
    [formControl]="viewControl">
    <mat-option
      value="percent"
      matTooltipPosition="right"
      matTooltip="Percent change relative to present day">
      Percent Change
    </mat-option>
    <mat-option
      value="percent"
      matTooltipPosition="right"
      matTooltip="Change in value relative to present day">
      Absolute Change
    </mat-option>
    <mat-option
      value="percent"
      matTooltipPosition="right"
      matTooltip="Direct data value">
      Value
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-icon
  aria-hidden="false"
  aria-label="Tooltip"
  matTooltipPosition="right"
  matTooltip=""
  inline="true">
  help
</mat-icon>
