<p class="error">
  Data exporting is not currently available. Coming soon!
</p>

<div class="form-container">
  <form [formGroup]="exportForm" (ngSubmit)="onSubmit($event)">
    <div class="form-component">
      <mat-form-field>
        <mat-label>
          {{controls.spatialExtent.name}}
        </mat-label>
        <mat-select disableOptionCentering
          [formControl]="controls.spatialExtent.control">
          <ng-container *ngFor="let selector of controls.spatialExtent.values">
            <mat-option [value]="selector.value">{{selector.display}}</mat-option>
          </ng-container>

        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-component">
      <mat-form-field>
        <mat-label>
          {{controls.timePeriod.name}}
        </mat-label>
        <mat-select disableOptionCentering
          [formControl]="controls.timePeriod.control">
          <ng-container *ngFor="let selector of controls.timePeriod.values">
            <mat-option [value]="selector.value">{{selector.display}}</mat-option>
          </ng-container>

        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-component">

    
      <h4 [ngClass]="{'error': !controls.includeTypes.control.valid}">Select what you would like to download *</h4>

      <div class="form-component">
        <mat-checkbox [formControl]="controls.selectAll.control">
          {{controls.selectAll.label}}
        </mat-checkbox>
      </div>


      <div class="form-component">
        <div *ngFor="let selector of controls.includeTypes.selectors">
          <div class="form-component">
            <mat-checkbox [formControl]="selector.control">
              {{selector.label}}
            </mat-checkbox>
            <mat-icon class="info-icon" [inline]="true" [matTooltip]="selector.info">info</mat-icon>
          </div>
        </div>
        <mat-error *ngIf="!controls.includeTypes.control.valid">Please select at least one item to export.</mat-error>
      </div>
    </div>


    <!-- Rainfall maps, anomaly maps, standard error maps, station data, and LOOCV error metrics, metadata   -->

    <div class="spacer"></div>

    <div class="form-component">
      <mat-checkbox
        [formControl]="controls.useEmail.control"
        matTooltip="The download package is too large to be downloaded directly. Please enter an email address and a download link will be sent to you when ready."
        [matTooltipDisabled]="!controls.useEmail.control.disabled">
        Send download package to email
      </mat-checkbox>
      <mat-icon class="info-icon" [inline]="true" matTooltip="Package the requested items and email a download link to you. This is required if requesting a large amount of data.">info</mat-icon>
    </div>

    <div class="form-component">
      <mat-form-field *ngIf="controls.useEmail.control.value" class="example-full-width">
        <mat-label>Email Address</mat-label>
        <input required matInput [formControl]="controls.email.control">
        <mat-error *ngIf="!controls.email.control.valid">Please enter a valid email address.</mat-error>
      </mat-form-field>
    </div>


    <div class="spacer"></div>

    <!-- <footer>* Required</footer>

    <div class="spacer"></div> -->
    

    <div class="submit-button-container">
      <button [disabled]="exportForm.invalid" mat-raised-button type="submit" color="accent">Export</button>
    </div>
  </form>


  <div *ngFor="let item of itemTest">
    <div class="placeholder"></div>
    <button mat-icon-button (click)="removeItem(item)">
      <mat-icon>remove_circle</mat-icon>
    </button>
  </div>
  <button mat-icon-button (click)="openAddItemDialog()">
    <mat-icon>add_circle</mat-icon>
  </button>
  

  
</div>
