.form-component {
  padding-left: 10px;
  clear: both;
  display: block;
}

.info-icon {
  padding-left: 2px;
}

.error {
  color: #F44336;
}

.spacer {
  height: 20px;
  // display: inline-block;
}

.placeholder {
  display: inline-block;
  height: 10px;
  width: 20px;
  background-color: red;
}