<h4>
    Filter Stations
</h4>
<div *ngFor class="filter-component">
    <mat-form-field>
        <mat-label>
            Field
        </mat-label>
        <mat-select disableOptionCentering
            [formControl]="fieldControl">
            <mat-option *ngFor="let field of fieldData" [value]="field.value">{{field.label}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="filter-component multi-select-shift">
    <mat-select-autocomplete
        [placeholder]="'Values'"
        [options]="values"
        [multiple]="true"
        ngDefaultControl
        [formControl]="filterControl"
        [disabled]="!fieldControl.value">
    </mat-select-autocomplete>
</div>
<div class="filter-component">
    <button mat-raised-button color="warn" (click)="clearFilter()" [disabled]="!filterControl.value || filterControl.value.length < 1">Clear Filter</button>
</div>