<div class="filter-box">
    <h4>
        Filter Stations
    </h4>
    <div *ngFor="let filterItem of filterData; index as i">
        <div class="filter-component">
            <mat-form-field>
                <mat-label>
                    Field
                </mat-label>
                <mat-select disableOptionCentering
                    [formControl]="filterItem.fieldControl">
                    <mat-option *ngFor="let field of fields" [value]="field.field">{{field.formattedField}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Add a slider depending if a numerical field is selected. -->
        <div *ngIf="
        filterItem.fieldControl.value === 'lat' || 
        filterItem.fieldControl.value === 'lng' ||
        filterItem.fieldControl.value === 'elevation_m'">

        <!-- Add slider here -->
        <ng5-slider 
            [(value)]="rangeFilter.minValue" 
            [(highValue)]="rangeFilter.maxValue" 
            [options]="options">
        </ng5-slider>
        <p>Min Value: <input type="number" [(ngModel)]="rangeFilter.minValue"></p>
        <p>Max Value: <input type="number" [(ngModel)]="rangeFilter.maxValue"></p>
        </div>

        <!-- Hide this field for numerical fields (lat, lng, elevation_m) -->
        <div class="filter-component" *ngIf="
        filterItem.fieldControl.value !== null &&
        filterItem.fieldControl.value !== 'lat' && 
        filterItem.fieldControl.value !== 'lng' &&
        filterItem.fieldControl.value !== 'elevation_m'">
            <div class="filter-component multi-select-shift">
                <mat-select-autocomplete
                    [placeholder]="'Values'"
                    [options]="values[filterItem.fieldControl.value]"
                    [multiple]="true"
                    ngDefaultControl
                    [formControl]="filterItem.valueControl">
                </mat-select-autocomplete>
            </div>
            <div class="filter-component">
                <button 
                    mat-mini-fab
                    matTooltip="Remove filter"
                    color="warn"
                    (click)="removeFilter(i)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>  
        </div>
    </div>
    <div class="filter-component">
        <button
            mat-mini-fab
            matTooltip="Add filter"
            color="primary"
            (click)="addFilter()"
            [disabled]="filterData[filterData.length - 1].fieldControl.value === null">
            <mat-icon>add</mat-icon>
    </button>
    </div>
    <div class="filter-component">
        <button mat-raised-button color="warn" (click)="clearFilters()">Clear All Filters</button>
    </div>
</div>

