.container {
  display: inline-block;
  width: fit-content;
  height: 100%;
}

.control {
  clear: right;
}

// .control h4 {
//   margin: 0;
// }

.subh3 {
  font-weight: 400;
  font-size: 1.1em;
}

.inline-block {
  display: inline-block;
}

p {
  margin-top: 0;
}


.control-subgroup {
  padding-left: 20px;
}

.control-group {
  padding-top: 20px;
}

.spacer {
  height: 20px;
  clear: both;
}

.coverage-label {
  font-size: small;
  font-weight: 500;
  margin-bottom: 5px;
}

.current-buffer {
  display: inline-block;
  padding-left: 20px;
}

mat-icon {
  padding-left: 5px;
}

.submit-note {
  font-weight: bold;
  display: inline;
  padding-left: 10px;
}

.form-container {
  display: inline-flex;
}

.sep {
  width: 1px;
  background-color: gray;
}

.ds-form {
  padding-right: 20px;
}

.instant-props {
  padding-left: 25px;
}

.category-label {
  white-space: nowrap;
}