.container {
  display: inline-block;
  width: fit-content;
  height: 100%;
}

.control {
  clear: right;
}

// .control h4 {
//   margin: 0;
// }

p {
  margin-top: 0;
}

// .form-body {
//   padding-bottom: 20px;
// }
.control-subgroup {
  padding-left: 20px;
}

// .control-group {
//   padding-top: 20px;
// }

.spacer {
  height: 20px;
  clear: both;
}

h4 {
  font-size: small;
  font-weight: 500;
  margin-bottom: 5px;
}

