<div class="main-container">
  <div class="control">
    <app-date-selector
      label="Start Date"
      [min]="dataRange.min"
      [max]="max"
      [timestep]="timestep"
      (dateChange)="setMin($event)">
    </app-date-selector>

    <app-date-selector
      label="End Date"
      [min]="min"
      [max]="dataRange.max"
      [timestep]="timestep"
      (dateChange)="setMax($event)">
    </app-date-selector>
  </div>
  <div class="control">

  </div>
  <div class="control">
    <app-data-set-interval-selector
      (setTimestep)="setTimestep($event)"
      (setDateRange)="setDateRange($event)"
      (setType)="setType($event)"
      (setFill)="setFill($event)">
    </app-data-set-interval-selector>
  </div>





  <br>
  <!-- <app-data-set-selector></app-data-set-selector> -->

  <button mat-raised-button color="primary" (click)="updateDataSet()" [disabled]="!valid">
    Submit
  </button>
</div>
