<div class="container">
  <h3>
    Active Dataset: {{label}}
  </h3>
  <div class="form-container">
    <div class="ds-form">
      <div class="form-body">
        <h3 class="subh3">
          Select The Dataset You Would Like to View.
        </h3>
        <div class="control-group">
          <div class="control">
            <app-selector
              [label]="formData.datasetFormData.label"
              [tooltip]="formData.datasetFormData.description"
              [values]="formData.datasetFormData.datasetValues"
              [groupValues]="formData.datasetFormData.datasetGroups"
              [control]="controls.datatype"
            ></app-selector>
          </div>
        </div>
        <div class="control-group control-subgroup">
          <div
            *ngFor="let field of formData.datasetItem.formData.default"
            class="control">
              <app-selector
                [label]="field.label"
                [tooltip]="field.description"
                [values]="field.values"
                [control]="controls[field.tag]"
              ></app-selector>
          </div>
        </div>

        <div
          *ngFor="let category of formData.datasetItem.formData.categorized"
          class="control-group">
          <div class="category-label">
            <h4 class="inline-block">
              {{category.label}}
            </h4>
            <mat-icon
              aria-hidden="false"
              aria-label="Tooltip"
              matTooltipPosition="right"
              [matTooltip]="category.description"
              inline="true">
              help
            </mat-icon>
          </div>
          <div class="control-subgroup">
            <div
              *ngFor="let field of category.nodes"
              class="control">
              <app-selector
                [label]="field.label"
                [tooltip]="field.description"
                [values]="field.values"
                [control]="controls[field.tag]"
              ></app-selector>
            </div>
          </div>
        </div>
        <div *ngIf="formData.datasetItem.coverageLabel" class="control-group">
          <div class="control">
            <h4 class="coverage-label">Dataset Coverage</h4>
            {{formData.datasetItem.coverageLabel}}
          </div>
        </div>
      </div>
      <div class="spacer"></div>

      <button mat-raised-button color="primary" (click)="updateDataset()">
        Submit
      </button>
      <p *ngIf="changes" class="submit-note">
        Click Submit to Apply These Changes
      </p>
    </div>

    <div class="form-container" *ngIf="optionNodes.length > 0">
      <div class="sep"></div>
      <div class="instant-props">
        <h3 class="subh3">
          Display Options
        </h3>
        <div *ngFor="let item of optionNodes">
          <app-selector
            [label]="item.node.label"
            [tooltip]="item.node.description"
            [values]="item.node.values"
            [control]="item.control"
          ></app-selector>
        </div>
      </div>
    </div>
  </div>
</div>
