.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}

.view-nav {
    height: 100%;
    width: 30px;
    display: flex;
    flex-flow: column wrap;
    text-orientation: upright;
    writing-mode: vertical-lr;

    font-weight: 500;
}

.nav-tile {
    width: 100%;
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 4px;
}

.nav-tile:hover {
    cursor: pointer;
    box-shadow: 2px -2px inset, -1px 1px inset;
}

.nav-tile-selected {
  background-color: #175db6;
}


.view-component {
    min-height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    background-color: hotpink;
}

.view-container {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.view-container::-webkit-scrollbar {
  display: none;
}
