.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.view-nav {
    height: 100%;
    width: 30px;
    display: flex;
    flex-flow: column wrap;
    -webkit-text-orientation: upright;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-weight: 500;
    float: right;
}

.nav-tile {
    width: 100%;
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 4px;
}

.nav-tile:hover {
    cursor: pointer;
    box-shadow: 2px -2px inset, -1px 1px inset;
}

.nav-tile-selected {
  background-color: #175db6;
}


.view-component {
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    padding-bottom: 500px;
}

.scroll-hide {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}

.view-container {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  position: relative;
  //min-width: 0;
  // -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;  /* Firefox */
}

// /* Hide scrollbar for Chrome, Safari and Opera */
// .view-container::-webkit-scrollbar {
//   display: none;
// }


.view-component-wrapper {
  height: fit-content;
  width: fit-content;
  min-width: 100%;
}
