<div class="container">
  <div class="scroll-hide">
    <div #viewContainer class="view-container" (scroll)="containerScroll($event)">
      <div #dateControlComponent class="focus-control" [ngStyle]="{width: getDateControlWidth()}">
        <app-focus-control></app-focus-control>
      </div>

      <div class="view-component-wrapper">
        <div #formComponent class="view-component" [ngStyle]="!includeStations && {'padding-bottom': '0'}">
          <app-data-set-form></app-data-set-form>
        </div>
        <div #tableComponent class="view-component" *ngIf="includeStations">
          <app-data-views></app-data-views>
        </div>
        <div #timeseriesComponent class="view-component" *ngIf="includeStations">
          <app-time-series
            [width]="_width">
          </app-time-series>
        </div>
      </div>
    </div>
  </div>

  <div #viewNav class="view-nav">
    <div *ngFor="let nav of navInfo" class="nav-tile" [@selectColor]="nav == activeTileRef ? 'selected' : 'deselected'" (click)="goToNav(nav)">
      <svg viewBox="0 0 10 225" width="100%" height="100%">
        <text x="50%">
          {{nav.label}}
        </text>
      </svg>
    </div>
  </div>
</div>
