<div class="container">
  <div #viewContainer class="view-container" (scroll)="containerScroll($event)">
    <div #formComponent class="view-component">
      a
    </div>
    <div #tableComponent class="view-component">
      b
    </div>
    <div #timeSeriesComponent class="view-component">
      c
    </div>
  </div>
  <div class="view-nav">
    <div class="nav-tile" (click)="goToComponent(formComponent)">
      a
    </div>
    <div class="nav-tile" (click)="goToComponent(tableComponent)">
      b
    </div>
    <div class="nav-tile" (click)="goToComponent(timeSeriesComponent)">
      c
    </div>
  </div>
</div>
