.mat-icon-compress {
  width: 8px;
}

.mat-icon-compress-extra {
  width: 5px;
}

.mat-icon-compress-extra-extra {
  width: 3px;
  vertical-align: top;
}

.bar-icon-wrapper {
  height: 15px;
  width: 0px;
  padding: 0px;
}

.bar-icon {
  width: 3px;
  height: 12px;
  background-color: white;
  transform: translate(5px, -3px);
}

.button-container {
  display: inline-block;
  background-color: chartreuse;
}

.date-container {
  display: inline-block;
  background-color: cornsilk;
}

.small-button {
  width: 10px;
  height: 10px;
}

.container {
  display: inline-block;
  background-color: plum;
  width: max-content;
}
