// .mat-icon-compress {
//   width: 8px;
// }

// .mat-icon-compress-extra {
//   width: 5px;
// }

// .mat-icon-compress-extra-extra {
//   width: 3px;
//   vertical-align: top;
// }

// .bar-icon-wrapper {
//   height: 15px;
//   width: 0px;
//   padding: 0px;
// }

// .bar-icon {
//   width: 3px;
//   height: 12px;
//   background-color: inherit;
//   transform: translate(5px, -3px);
// }

.button-container {
  // background-color: chartreuse;
  // transform: scale(.8);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  margin: 5px;
}

.date-container {
  display: inline-block;
  height: 45px;
  overflow: hidden;
  margin: 5px;
  // border-radius: 5px;
  // border: 1px solid #ccc;
  // box-shadow: 2px 1px 1px lightgray;
  padding: 5px;
}

// .small-button {
//   width: 10px;
//   height: 10px;
// }

.main-container {
  position: relative;
  width: max-content;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .mat-form-field-label {
  font-size: 22px;
  font-weight: bold;
}
