<div class="main-container">
  <div class="button-container">
    <button mat-icon-button [matTooltip]="controlData[period].back.e.tooltip" [disabled]="controlData[period].back.e.disabled()" (click)="controlData[period].back.e.trigger()">
      <mat-icon svgIcon="el"></mat-icon>
    </button>

    <button mat-icon-button [matTooltip]="controlData[period].back.ff.tooltip" [disabled]="controlData[period].back.ff.disabled()" (click)="controlData[period].back.ff.trigger()">
      <mat-icon svgIcon="ffl"></mat-icon>
    </button>

    <button mat-icon-button [matTooltip]="controlData[period].back.f.tooltip" [disabled]="controlData[period].back.f.disabled()" (click)="controlData[period].back.f.trigger()">
      <mat-icon svgIcon="fl"></mat-icon>
    </button>
  </div>

  <div class="date-container">
    <app-date-selector
      label="Map Date"
      [min]="lower"
      [max]="upper"
      [period]="period"
      [date]="date"
      (dateChange)="dateChanged($event)"
      [readonly]="true">
    </app-date-selector>
  </div>

  <div class="button-container">
    <button mat-icon-button [matTooltip]="controlData[period].forward.f.tooltip" [disabled]="controlData[period].forward.f.disabled()" (click)="controlData[period].forward.f.trigger()">
      <mat-icon svgIcon="fr"></mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="controlData[period].forward.ff.tooltip" [disabled]="controlData[period].forward.ff.disabled()" (click)="controlData[period].forward.ff.trigger()">
      <mat-icon svgIcon="ffr"></mat-icon>
    </button>
    <button mat-icon-button [matTooltip]="controlData[period].forward.e.tooltip" [disabled]="controlData[period].forward.e.disabled()" (click)="controlData[period].forward.e.trigger()">
      <mat-icon svgIcon="er"></mat-icon>
    </button>
  </div>
</div>