.track {
    position: absolute;
    left: 100px;
    width: 100px;
    height: 8px;
    border-radius: 10px;
    background-color: lightgrey;
}

.circle-slider {
    position: absolute;
    left: -8px;
    top: -4px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgb(56, 117, 194);
}

.circle-slider:hover {
    cursor: -webkit-grab;
    background-color: rgb(43, 86, 140);
}

.circle-slider:active {
    cursor: -webkit-grabbing;
}

.left-slider {
    position: absolute;
    left: -8px;
    top: -4px;
    width: 14px;
    height: 16px;
    border-radius: 100% 60% 60% 100%;
    background-color: rgb(56, 117, 194);
}

.left-slider:hover {
    cursor: -webkit-grab;
    background-color: rgb(43, 86, 140);
}

.left-slider:active {
    cursor: -webkit-grabbing;
}

.right-slider {
    position: absolute;
    left: -8px;
    top: -4px;
    width: 14px;
    height: 16px;
    border-radius: 60% 100% 100% 60%;
    background-color: rgb(56, 117, 194);
}

.right-slider:hover {
    cursor: -webkit-grab;
    background-color: rgb(43, 86, 140);
}

.right-slider:active {
    cursor: -webkit-grabbing;
}