

// .navbar {
//     position: relative;
//     background-color: #1e2f46;
//     width: 100%;
//     color: white;
// }

.container {
    height: 100%;
    width: 100%;
    min-width: 500px;
    //overflow: hidden;
    //nice font, use as base for everything
    font-family: "Roboto";
}

