.vis-container {
    position: relative;
    height: calc(100vh - 50px);
    width: 100vw;
}

.navbar {
    position: relative;
    height: 50px;
    background-color: #1e2f46;
    width: 100vw;
    color: white;
}