

<div>
  <div *ngIf="view == 'basic'; else advancedView">

  </div>
  <ng-template #advancedView>
    <mat-checkbox [formControl]="formData.advanced.invert.control">
      {{formData.advanced.invert.label}}
    </mat-checkbox>
    <mat-icon class="info-icon" [inline]="true" [matTooltip]="formData.advanced.invert.description">info</mat-icon>
  </ng-template>
  <div>

  </div>
</div>




<!--
<mat-form-field>
  <mat-label>
    Filter Types
  </mat-label>
  <mat-select [disabled]="options.filterType.disabled"
  [formControl]="options.filterType.control">
    <mat-option value="include">Include</mat-option>
    <mat-option value="exclude">Exclude</mat-option>
  </mat-select>
</mat-form-field> -->

<!-- <div class="main-container dark-theme">
  <div class="label-container">
    Rainfall Station Filters
  </div>
  <div class="form-container">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit($event)">
      <div class="form-component">
        <mat-form-field>
          <mat-label>
            {{options.filterType.name}}
          </mat-label>
          <mat-select disableOptionCentering [disabled]="options.filterType.disabled"
            [formControl]="options.filterType.control">
            <mat-option *ngFor="let selector of options.filterType.values" [value]="selector.value">{{selector.display}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      <div class="form-component">
        <mat-form-field>
          <mat-label>
            {{options.filterFields.name}}
          </mat-label>
          <mat-select disableOptionCentering [disabled]="options.filterFields.disabled"
            [formControl]="options.filterFields.control">
            <ng-container *ngFor="let selector of options.filterFields.values">
              <mat-option *ngIf="selector.include" [value]="selector.value">{{selector.display}}</mat-option>
            </ng-container>

          </mat-select>
        </mat-form-field>
      </div>



      <div class="form-component">
        <mat-select-autocomplete *ngIf="options.filterValues.values.getControlType() == 'selector'"
          [placeholder]="'Select Options'"
          [options]="options.filterValues.values.getInputValues()"
          [multiple]="true"

          ngDefaultControl
          [formControl]="options.filterValues.values.getControl()"
          [disabled]="options.filterValues.disabled">

        </mat-select-autocomplete>
      </div>


      <div class="form-component">
        <app-range-slider *ngIf="options.filterValues.values.getControlType() == 'range'" [control]="options.filterValues.values.getControl()" [min]="options.filterValues.values.getInputValues().min" [max]="options.filterValues.values.getInputValues().max"></app-range-slider>
      </div>

      <div class="submit-button-container">
        <button [disabled]="filterIncomplete()" mat-raised-button type="submit" color="accent">Create Filter</button>
      </div>
    </form>
  </div>


  <div class="filter-manager-container">
    <button mat-button [matMenuTriggerFor]="filterMenu">Manage Filters ({{filters.length}})</button>
    <mat-menu #filterMenu="matMenu">
      <div (click)="menuClick($event)" class="filter-container" *ngFor="let filter of filters; index as i;">
        <p class="filter-text-container">
          {{filter.type}} {{filter.field}}: {{filter.getValuesText()}}
        </p>
        <button (click)="deleteFilter($event, i)" mat-icon-button class="filter-delete-button">
          <mat-icon>
            close
          </mat-icon>
        </button>
      </div>
    </mat-menu>
  </div>

</div> -->



<!-- <div *ngFor="let filter of filters; index as i;">
  <div class="filter-label" matTooltip="!!">
    <div class="filter-text-container">
      <p>
        loooooo ooooooooooo ooooong text
      </p>
    </div>

    <button (click)="deleteFilter(i)" mat-icon-button class="filter-delete-button">
      <mat-icon>
        close
      </mat-icon>
    </button>
  </div>
</div> -->










<!-- To use formControl within formGroup, provide [formControl] = formGroupName.controls[‘formControlName’] otherwise just [formControl] = ‘formControlName’ -->
