.filter-label {
  height: 40px;
  width: 150px;
  background-color: slategray;
  display: inline-block;
  transform: translate(10px, 10px);
  border-radius: 20px;
  box-shadow: 2px 3px black;
}

.filter-label p {
  margin: 0 0 0 10px;
  line-height: 40px;
}

.filter-text-container {
  position: relative;
  display: block;
  width: 100px;
  float: left;
  background-color: purple;
}

.form-container {
  display: inline-block;
}

.filter-delete-button {
  float: right;

}
