.filter-label {
  height: 40px;
  width: 150px;
  background-color: slategray;
  display: inline-block;
  transform: translate(10px, 10px);
  border-radius: 20px;
  box-shadow: 2px 3px black;
}

.filter-label p {
  margin: 0 0 0 10px;
  line-height: 40px;
}





.filter-delete-button {
  float: right;

}

.form-component {
  display: inline-block;
  padding-right: 10px;
}

.submit-button-container {
  display: inline-block;
  //button on own line gets cut off unless container height 4px larger than button (why?)
  height: 40px;
}



.filter-text-container {
  font-size: 14px;
  padding-left: 10px;
  position: relative;
  display: -webkit-box;
  //DO NOT REMOVE AUTOPREFIXER COMMENT, DIRECTIVE PREVENTS ANGULAR AUTOPREFIXER FROM BREAKING TEXT TRUNCATION
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  width: calc(100% - 40px);
  float: left;
  -webkit-line-clamp: 3;
  overflow: hidden;
  visibility: visible;
  word-wrap: break-word;
}

.filter-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 40px;
  align-items: center;
}

.main-container {
  transform: translateY(5px);
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: row;
}




.filter-manager-container {
  display: inline-block;
  flex-grow: 1;
  color: white;
  max-height: 40px;
  max-width: 150px;
  padding-right: 15px;
}

// .filter-text-container::before {
//   content: "...";
//   position: absolute;
//   bottom: 0;
//   right: 0;
// }

// .filter-text-container::after {
//   content: "";
//   position: absolute;
//   right: 0; /* note: not using bottom */
//   width: 1rem;
//   height: 1rem;
//   background-color: white;
// }

form {
  display: inline-block;
  padding: 0 10px 0 10px;
}

// mat-form-field {
  
// }

// mat-select-autocomplete {
//   padding-right: 10px;
// }

form /deep/ .mat-form-field {
  font-size: 14px;
}

form /deep/ .mat-form-field-flex {
  padding: 0;
}

.dark-theme /deep/ .mat-button {
  color: white;
}

.label-container {
  display: inline-block;
  padding: 10px;
  font-family: "Roboto";
  font-size: 18px;
  color: rgba(255, 255, 255, .75);
  flex-grow: 1;
}




