.map {
    height: 100%;
    width: 100%;
}

.cursor-grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}

.cursor-crosshair {
    cursor: crosshair;
}

::ng-deep .leaflet-control-scale-line {
    font-size: 15px;
}