<div #mapElement leaflet class="map"
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)">
</div>
<app-leaflet-layer-control-extension #layerController
    [map]="map"
    (opacity)="setOpacity($event)"
    (colorScheme)="setColorScheme($event)"
    [mapGetOpacity]="getOpacity.bind(this)"
    [mapLayerReady]="layerReady.bind(this)"
></app-leaflet-layer-control-extension>
<app-leaflet-color-scale
    [map]="map"
    [colorScale]="colorScheme"
></app-leaflet-color-scale>
<app-leaflet-compass-rose
  [map]="map"
  [options]="roseOptions">
</app-leaflet-compass-rose>
<app-header-control
  [map]="map"
  [dataset]="'Monthly Rainfall'"
  [date]="getHeaderDate()">
</app-header-control>
