<div #mapElement leaflet class="map"
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)">
</div>
<app-leaflet-layer-control-extension #layerController
  [map]="map"
  (opacity)="setOpacity($event)"
  (colorScheme)="setColorScheme($event)"
  [mapGetOpacity]="getOpacity.bind(this)"
  [mapLayerReady]="layerReady.bind(this)"
></app-leaflet-layer-control-extension>
<app-leaflet-color-scale
  [map]="map"
  [colorScale]="colorScheme"
  [label]="colorScaleLabel"
  [rangeAbsolute]="dataset.rangeAbsolute"

></app-leaflet-color-scale>
<app-leaflet-compass-rose
  [map]="map"
  [options]="roseOptions">
</app-leaflet-compass-rose>
<app-header-control
  [map]="map"
  [dataset]="dataset.label"
  [date]="getHeaderDate()">
</app-header-control>
<app-leaflet-image-export
  [map]="map"
  [imageContainer]="imageContainer"
  [hiddenControls]="imageHiddenControls">
</app-leaflet-image-export>


