

.time-range-dropdown {
    padding: 10px;
    padding-right: 50px;
}

.container {
    width: fit-content;
}

.control-container {
  height: 50px;
  width: 100%;
  background-color: red;
}
