.loading-text {
    padding: 10px;
    font-size: 20px;
    display: inline-block;
}

.loading-symbol {
    padding: 10px;
    display: inline-block;
}

.container {
    display: flex;
    //justify-content: center;
    align-items: center;
    padding: 20px;
}