::ng-deep .mat-select-panel {
    max-width: none !important;
 }
 
 mat-option {
    width: 100% !important;
    font-size: 15px !important;
    max-width: none !important;
    min-width: 0 !important;
}