<mat-form-field>
  <mat-label>Interval</mat-label>
  <mat-select [disableOptionCentering]="true" (selectionChange)="valueSet($event, 'timeGranularity')" [(value)]="state.timeGranularity">
    <mat-option #timeGranularityOptions *ngFor="let set of formValues.timeGranularity" [value]="set">
      {{set | displayValue}}
    </mat-option>
    <mat-option></mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>Data Set Type</mat-label>
  <mat-select [disableOptionCentering]="true" (selectionChange)="valueSet($event, 'setType')" [(value)]="state.setType">
    <mat-option #setTypeOptions *ngFor="let set of formValues.setType" [value]="set">
      {{set | displayValue:"dateRange"}}
    </mat-option>
    <mat-option></mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>Fill Type</mat-label>
  <mat-select [disableOptionCentering]="true" (selectionChange)="valueSet($event, 'fill')" [(value)]="state.fill">
    <mat-option #fillOptions *ngFor="let set of formValues.fill" [value]="set">
      {{set | displayValue}}
    </mat-option>
    <mat-option></mat-option>
  </mat-select>
</mat-form-field>