
<div class="app-container">
  <div class="nav-container" [@navSize]="getNavState()" (pointerenter)="changeNavExpand($event, false)" (pointerleave)="changeNavExpand($event, true)">
    <div *ngIf="!navCollapsed; else collapsedNav" class="nav-tile-container">
      <app-nav-tiles [component]="component" (componentChange)="selectComponent($event)"></app-nav-tiles>
    </div>

    <ng-template #collapsedNav>
      <div class="data-nav-trigger">
        <div class="nav-sub-tile" [@selectColor]="component == 'vis' ? 'selected' : 'deselected'" (click)="selectComponent('vis')">
          <svg viewBox="0 0 10 300" width="100%" height="100%">
            <text x="50%">
              Visualize Data
            </text>
          </svg>
        </div>
        <div class="nav-sub-tile" [@selectColor]="component == 'export' ? 'selected' : 'deselected'" (click)="selectComponent('export')">
          <svg viewBox="0 0 10 300" width="100%" height="100%">
            <text x="50%">
              Export Data
            </text>
          </svg>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="component-container">
    <!-- maybe a better way to do this? -->
    <div [ngClass]="{hidden: component != 'vis'}" class="vis-container">
      <app-vis
        [visible]="component == 'vis'"
        [navCollapsed]="navCollapsed">
      </app-vis>
    </div>
    <div [ngClass]="{hidden: component != 'export'}" class="export-container">
      <app-export-interface></app-export-interface>
    </div>
  </div>
</div>





