<div #mapElement leaflet class="map"
  leafletDraw
  [leafletOptions]="leafletOptions"
  [leafletDrawOptions]="leafletDrawOptions"
  (leafletMapReady)="onMapReady($event)"
  (leafletDrawCreated)="createDrawnFilter($event)"
  (leafletDrawEdited)="editDrawnFilter($event)"
  (leafletDrawDeleted)="deleteDrawnFilter($event)">
</div>
<app-leaflet-compass-rose
  [map]="map"
  [options]="roseOptions">
</app-leaflet-compass-rose>
<app-header-control
  [map]="map">
</app-header-control>

<!-- <div class="map">

</div> -->


