.map {
    height: 100%;
    width: 100%;
}

::ng-deep .filter-toggle-selector {
    display: block;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    
}

::ng-deep .filter-toggle-selector:focus {
    outline: none;
}

::ng-deep .filter-popup-text {
    display: block;
  
}

::ng-deep .filter-popup-spacer {
    height: 10px;
}

::ng-deep .leaflet-control-scale-line {
    font-size: 15px;
}