.container {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.map-container {
    display: inline-block;
    position: relative;
    height: 100%;
    flex-shrink: 1;

}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
}


.dataset-info {
    display: inline-block;
    width: 100%;
}

.button-pos {
    position: absolute;
    bottom: 0;
    right: 0;
}


.data-container {
//   height: calc(100% - 50px);
    width: 100%;
//   overflow-y: hidden;
//   overflow-x: hidden;
    background-color: yellow;
    display: inline-flex;
    overflow: hidden;
    flex: 1;
}


.dataset-info-container {
    width: 100%;
    background-color: blue;
    display: inline-block;
}

.menu-button-container {
    position: relative;
    
    background-color: coral;
    width: 30px;
    float: right;
}


.filter-container {
    width: 100%;
    background-color: red;
    display: inline-block;
}

.dataset-info-container-half {
    width: 50%;
    // height: 50px;
    background-color: blue;
    display: inline-block;
}

.filter-container-half {
    width: 50%;
    // height: 50px;
    background-color: red;
    display: inline-block;
}

.topbar-container {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    // height: 50px;
}

// .dummy {
//     margin-top: 100%;
// }

// .filter {
//     display: none;
// }



.control-container {
  position: absolute;
  // display: inline-block;
  width: 20%;
}

.filter-table {
    display: inline-block;
    width: 500px;
}

.site-data-table {
    display: inline-block;
    width: 50%;
    // left: 50%;
    left: 840px;
    top: 500px;
}

.resize-bar {
    border-left: 3px ridge rgba(196, 196, 196, 0.4);
    border-right: 3px ridge rgba(196, 196, 196, 0.4);
    position: relative;
    display: inline-block;
    height: 100%;
    // background-color: teal;
    background-image: linear-gradient(90deg, #84ade2, #3874c2 2%, #84ade2);
}

.line {
    position: absolute;
    width: 2px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -1px;
    background-color: lightgray;
}


.view-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
    flex: 1;
    position: relative;
    // background-color: purple;
}

.inner-view-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    flex: 1;
}

.resize-bar:hover {
  cursor: ew-resize;
}

.view-select {
    float: right;
}

