.main-container {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
}

.map-container {
    display: inline-block;
    position: relative;
    height: 100%;
    flex-shrink: 1;

}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
}


.dataset-info {
    display: inline-block;
    width: calc(100% - 50px);

}


.menu-button-container {
  position: absolute;
  display: inline-flex;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}


.data-container {
//   height: calc(100% - 50px);
    width: 100%;
//   overflow-y: hidden;
//   overflow-x: hidden;
    display: inline-flex;
    overflow: hidden;
    flex: 1;
}


.dataset-info-container {
  position: relative;
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(0deg, #598dd1, #3875c2);
  color: white !important;
}




.filter-container {
    width: 100%;
    background-image: linear-gradient(0deg, #3875c2, #175db6);
    display: inline-block;
    // color: white;
    background-color: white;
}

// .filter-container /deep/


.topbar-container {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    // height: 50px;
}

// .dummy {
//     margin-top: 100%;
// }

// .filter {
//     display: none;
// }



.control-container {
  position: absolute;
  // display: inline-block;
  width: 20%;
}



.resize-bar {
    border-left: 3px ridge rgba(196, 196, 196, 0.4);
    border-right: 3px ridge rgba(196, 196, 196, 0.4);
    position: relative;
    display: inline-block;
    height: 100%;
    // background-color: teal;
    background-image: linear-gradient(90deg, #84ade2, #3874c2 2%, #84ade2);
}

.line {
    position: absolute;
    width: 2px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -1px;
    background-color: lightgray;
}


.view-container {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
    flex: 1;
    //position: relative;
    // background-color: purple;
}

.inner-view-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    flex: 1;
}

.view-padding {
  padding: 20px;
}

.resize-bar:hover {
  cursor: ew-resize;
}

.view-select {
    float: right;
}

.dataset-info-container /deep/ .mat-datepicker-toggle {
    color: white;
}

.dataset-info-container /deep/ .mat-form-field-label {
    color: white;
    font-weight: 500 !important;
}




.sidenav {
    padding: 0 !important;
}


// :host /deep/ .mat-select-arrow {
//   color: white;
// }

// :host /deep/ .mat-select-value-text {
//   color: white;
// }

// :host /deep/ .mat-form-field-ripple {
//   background-color: white;
// }

// :host /deep/ .mat-form-field.mat-focused .mat-form-field-label {
//   color: white;
// }

// :host /deep/ .mat-select-placeholder {
//   color: white;
// }

// :host /deep/ .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//   color: white;
// }

// :host /deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
//   background-color: white;
// }
