
<div #container class="data-container">

  <div #mapContainer class="map-container" [ngStyle]="{'width': mapWidth}">
    <app-map #map
      [imageContainer]="mapContainerRef">
    </app-map>
  </div>

  <div #dragbar (touchstart)="startResize(true)" (mousedown)="startResize(false)" class="resize-bar">
    <div class="line"></div>
  </div>
  <div #viewContainer class="view-container">
    <app-view-container
      [visible]="_visible"
      [width]="viewWidth">
    </app-view-container>
  </div>

</div>
