.map-container {
    display: inline-block;
    position: relative;
    height: 100%;
    //flex-shrink: 1;
    width: calc(50% - 5px);
}

// .map {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     display: inline-block;
// }


.dataset-info {
    display: inline-block;
    width: calc(100% - 50px);

}


.menu-button-container {
  position: absolute;
  display: inline-flex;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}


.data-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}


.dataset-info-container {
  position: relative;
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(0deg, #598dd1, #3875c2);
  color: white !important;
}









.control-container {
  position: absolute;
  // display: inline-block;
  width: 20%;
}



.resize-bar {
    border-left: 3px ridge rgba(196, 196, 196, 0.4);
    border-right: 3px ridge rgba(196, 196, 196, 0.4);
    position: relative;
    display: inline-block;
    height: 100%;
    // background-color: teal;
    background-image: linear-gradient(90deg, #84ade2, #3874c2 2%, #84ade2);
    width: 10px;
    min-width: 10px;
}

.line {
    position: absolute;
    width: 2px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -1px;
    background-color: lightgray;
}


.view-container {
    height: 100%;
    flex: 1;
    min-width: 30px;
    //position: relative;
    //overflow-x: auto;
}

.inner-view-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    flex: 1;
}

.view-padding {
  padding: 20px;
}

.resize-bar:hover {
  cursor: ew-resize;
}

.view-select {
    float: right;
}



// :host /deep/ .mat-select-arrow {
//   color: white;
// }

// :host /deep/ .mat-select-value-text {
//   color: white;
// }

// :host /deep/ .mat-form-field-ripple {
//   background-color: white;
// }

// :host /deep/ .mat-form-field.mat-focused .mat-form-field-label {
//   color: white;
// }

// :host /deep/ .mat-select-placeholder {
//   color: white;
// }

// :host /deep/ .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
//   color: white;
// }

// :host /deep/ .mat-form-field.mat-focused .mat-form-field-ripple {
//   background-color: white;
// }
