<div class="main-container">
  <div #topbar class="topbar-container">
    <!-- <div [ngClass]="topbar.offsetWidth > 1000 ? 'dataset-info-container-half' : 'dataset-info-container-full'">
      <app-dataset-info></app-dataset-info>
    </div> -->
    <div class="filter-container">

      <app-site-filter></app-site-filter>

    </div>
    <div #p1 class="dataset-info-container">

    </div>
  </div>



  <div class="data-container">

    <div #mapContainer class="map-container" [ngStyle]="{'width': mapWidth}">
      <app-map #map class="map"></app-map>
    </div>

    <div #dragBar [ngStyle]="{'width': resizeBarWidth}" (touchstart)="startResize($event, true)" (mousedown)="startResize($event, false)" class="resize-bar">
      <div class="line"></div>
    </div>


    <div #viewContainer class="view-container">
      <div #p2 class="dataset-info-container">
        <div #dsInfo>
          <app-dataset-info class="dataset-info"></app-dataset-info>
          <div class="menu-button-container">
            <button (click)="viewNav.toggle()" mat-icon-button><mat-icon>menu</mat-icon></button>
          </div>

        </div>

      </div>

      <mat-sidenav-container class="inner-view-container" [ngSwitch]="view">

        <mat-sidenav #viewNav position="end" mode="over" hasBackdrop="true">
          <mat-nav-list class="sidenav">
            <a mat-list-item (click)="viewNavClick('select')">Select Data Set</a>
            <a mat-list-item (click)="viewNavClick('tables')">View Data</a>
            <a mat-list-item (click)="viewNavClick('export')">Export Data</a>
          </mat-nav-list>
        </mat-sidenav>

        <div class="view-padding">
          <div *ngSwitchCase="'select'">
            <app-data-set-form></app-data-set-form>
          </div>

          <div *ngSwitchCase="'tables'" >
            <app-data-views></app-data-views>
          </div>

          <div *ngSwitchCase="'export'">
            <app-export [map]="map"></app-export>
          </div>
        </div>


      </mat-sidenav-container>
    </div>



  </div>
</div>






