.opacity-label {
  font-family: "Roboto";
  font-size: 11px;
}

.container {
  background-color: white;
  height: 50px;
  width: 110px;
  padding-top: 10px;
}

::ng-deep {
  #opacity-control .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
      top: 18px;
      width: 90px;
  }
  #opacity-control .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
      height: 12px;
      border-radius: 10px;
      width: 90px;
  }
  #color-control .mat-form-field-infix {
      width: 100px;
  }
  #color-control-tiles span.mat-option-text {
      overflow: visible;
  }
}

.custom-select {
  display: flex;
  justify-content: space-between;
}



.delete-button {
  width: 10px;
}
