<div>

  <mat-form-field>
    <mat-label>{{label}}</mat-label>

    <input matInput 
      #startDateInput  
      [formControl]="dateControl" 
      [matDatepicker]="datePicker" 
      [min]="_min"
      [max]="_max">
    
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker
      (monthSelected)="monthSelectHandler($event)"
      startView={{getDefaultView()}}>
    </mat-datepicker>
    <mat-error>Invalid Date</mat-error>
  </mat-form-field>

<!-- 


  <mat-form-field>
    <mat-label>End Date</mat-label>

    <input matInput
      #startDateInput 
      [formControl]="endDateControl" 
      [matDatepicker]="endDatePicker"
      [min]="dateConfig.min"
      [max]="dateConfig.gmax">

    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker
      (monthSelected)="monthSelectHandler($event, endDatePicker, endDateControl)"
      startView={{getDefaultView()}}>
    </mat-datepicker>
    <mat-error>Invalid Date</mat-error>
  </mat-form-field> -->
</div>


